@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

#main {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#text-hover {
  transition: transform 0.3s ease;
}

#text-hover:hover {
  transform: scale(1.1);
  cursor: default;
}

#icon-hover {
  transition: transform 0.3s ease;
}

#icon-hover:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#text2-hover {
  transition: transform 0.3s ease;
}

#text2-hover:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#photo-hover {
  transition: transform 0.3s ease;
}

#photo-hover:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.fadeIn {
  opacity: 0;
  transform: translateX(-100%); /* เริ่มนอกจอทางด้านซ้าย */
  transition: opacity 1s ease, transform 1s ease;
}

.fadeIn.visible {
  opacity: 1;
  transform: translateX(0); /* เลื่อนเข้ามาที่ตำแหน่งปกติ */
}

.fadeInNormal {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fadeInNormal.visible {
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.visible {
  opacity: 1;
}
