#nav{
    color: #fff;
    height: 70px;
    padding-top: 17px;
    width: 900px;
    font-size: 20px;
    font-weight: bold;
}

#nav-bg {
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
