.skill{
    margin-left: 10%;
    margin-top: 400px;
    font-family: monospace;
}

.icon{
    margin-right: 30px;
}

#skill-icons{
    margin-bottom: 20px;
}

#database-skill{
    margin-top: 146px;
}